.site-header {
  height: 44px;
  background-color: rgba(var(--pico-muted-rgb, 108, 117, 125), 0.15);
  display: flex;
  align-items: center;
  width: 100vw !important;
  max-width: 100vw !important;
  left: 0;
  position: relative;
  box-sizing: border-box;
  color: var(--pico-color);
  font-size: 17px;
  font-family: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.site-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.site-header a {
  color: var(--pico-color);
  padding: 0 10px;
  height: 44px;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}
.site-header a:hover {
  color: var(--pico-primary);
}
